* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  max-width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  height: 16px;
  width: 16px;
  background-color: #1d1d1d;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
